@model RBACProject.Model.UserModel
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSinglePage.cshtml"; }

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改密码</div>
                <div class="layui-card-body" pad15>
                    <div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input name="UserName" autocomplete="off" class="layui-input layui-disabled" value="@Model.UserName" readonly="readonly" type="text">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">当前密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="oldPassword" name="OldPassword" lay-verify="required" lay-verType="tips" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="newPassword" name="Password" lay-verify="pass" lay-verType="tips" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="rePassword" name="Repassword" lay-verify="repass" lay-verType="tips" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn fl" lay-submit lay-filter="setmypass" id="updateBtn">确认修改</button>
                                <div class="div-msg fl" id="msg" style="float:left;">@ViewBag.Msg</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            $ = layui.$,
            layer = layui.layer,
            common = layui.common;
        //表单验证
        form.verify({
            pass: [/^[\S]{6,16}$/, "密码必须6到16位，且不能出现空格"],
            repass: function (t) {
                if (t !== $("#LAY_password").val()) return "两次密码输入不一致"
            }
        });

        $("#updateBtn").click(function () {

            //弹窗，你确定要修改吗
            //确定
            //ajax
            //如果修改成功，弹窗提示，你已修改密码
            //输入框不能为空，两次密码输入不一致会报错提示
            //密码必须是6位到16位，且不能出现空格

            var oldPassword = $("#oldPassword").val();
            var newPassword = $("#newPassword").val();
            var rewPassword = $("#rePassword").val();

            if (!oldPassword) {
                alert("旧密码格式不对或者不能为空");
                $("#msg").text("旧密码格式不对或者不能为空");
                return;
            }
            if (!newPassword) {
                alert("新密码格式不对或者不能为空");
                $("#msg").text("新密码格式不对或者不能为空");
                return;
            }
            if (!rewPassword) {
                alert("确认密码格式不对或者不能为空");
                $("#msg").text("确认密码格式不对或者不能为空");
                return;
            }
            if (newPassword != rewPassword) {
                alert("两次密码输入不一致");
                $("#msg").text("两次密码输入不一致");
                return;
            }

            layer.confirm('你确定要修改密码吗？', {
                icon: 3,
                title: '确认删除',
                btn: ['确定', '取消']
            }, function (index, layero) {
                $.ajax({
                    url: "/user/UpdatePwd",
                    data: { "oldPassword": oldPassword, "newPassword": newPassword },
                    type: "post",
                    dataType: "json",
                    success: function (data) {

                        if (data.state == 200) {
                            alert("修改成功");
                            $("#oldPassword").text("");
                            $("#newPassword").text("");
                            $("#rePassword").text("");
                        } else {
                            alert("修改失败");
                            $("#msg").text("删除失败");
                        }

                        layer.close(index);
                    },
                })

            }, function (index) {

                // 取消删除操作
                layer.close(index);
            });

        });

    });
</script>

