<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<!--系统默认的前四项-->
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />

	<!-- 自定义数据，key-value -->
	<add key="SiteName" value="权限管理系统" />
	<add key="SiteDomain" value="" />
	<add key="CacheTime" value="0" />
	<add key="MaxFileUpload" value="2048" />
	<add key="UploadFileType" value="png|gif|jpg|jpeg|zip|rar" />
	<add key="HomeTitle" value="标题" />
	<add key="MetaKey" value="关键词" />
	<add key="MetaDescribe" value="描述" />
	<add key="CopyRight" value="© 2023 权限管理系统" />
	<add key="InitUserPwd" value="123456" />
	<add key="LoginProvider" value="Cookie" />
	<add key="IsLog" value="true" />
	<add key="CommandTimeout" value="180" />
	<add key="IsIPFilter" value="false" />
	<add key="Contact" value=" " />
	<add key="SoftName" value="权限管理系统" />
	<add key="Version" value="1.0" />
	<add key="LicenceKey" value="83eda07f-ead3-4050-bcee-4f41e57a7e16" />
	<add key="MailName" value="邮件中心" />
	<add key="MailUserName" value="sendbug@nfine.cn" />
	<add key="MailPassword" value="123456" />
	<add key="MailHost" value="smtp.ym.163.com" />
</appSettings>